.DS_Store
.localized
Thumbs.db
venv/
env/
.venv/
newenv/ 
__pycache__/
*.pyc
*.pyd
*.so
*~$ 
.pytest_cache/
.coverage
dist/
build/
*.egg-info/
.env
.vscode/
.idea/
*.iws
*.iml
*.ipr
*.log
.ipynb_checkpoints

app/tests